<div class="container mt-6 mb-6">
  <h1 class=''>Picture It Privacy Policy</h1>

  <p><strong>Picture It</strong> "the App&rdquo; provides "the Service&rdquo; of <strong>curated previews products</strong> to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.<br /><br /><strong>Personal Information the App Collects</strong><br /><br />When you install the App, we are automatically able to access certain types of information from your Shopify account, hereinafter referred to as the &ldquo;Site.&rdquo;<br /></p>

  <ul>
  <li>Name of your store</li>
  <li>Primary email contacts for your store</li>
  <li>Your Shopify plan</li>
  <!-- <li>Your timezone</li> -->
  <li>Your store&rsquo;s products</li>
  </ul>

  <p><br />
    <strong>How Do We Use Your Personal Information?</strong>
    <br /><br />
    We use the personal information we collect from you and your customers in order to provide the Service and to operate the App. Additionally, we use this personal information to: Communicate with you; Optimize or improve the App; and Provide you with information or advertising relating to our products or services.<strong> We never sell your data.</strong><br /><br /><strong>Sharing Your Personal Information</strong><br /><br />Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.<br /><br /><strong>Your rights</strong></p>

  <p>You have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below:</p>

  <p>
    <a href="mailto:support@pictureit.co">support@pictureit.co</a>
    <br /><br />
    Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.
    <br /><br />
  <strong>Data Retention</strong></p>
  <p>When an order is placed through the Site, we will maintain this Information unless and until you ask us to delete this information or 90 days after uninstall, whichever comes first.<br /><br /><strong>Changes</strong></p>
  <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.<br /><br /><strong>Contact Us</strong></p>
  <p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by email at <strong>
    <a href="mailto:support@pictureit.co">support@pictureit.co</a></strong> 
  <div class='gdpr-container'>
    <img src='/static/GDPR.png'/>
    <div class='gdpr-content'> 
      Yes, we are<br><strong>GDPR Compliant</strong>
    </div>
  </div>
</div>