secret_key_base: 5c8bed123eef604a9a2027089ff210e00b8c85666ec59dfc5b215ee65b02067522abaa0ce845fb84516597e9059ed63eed9aa7ef343876adc5359085d9b081bd

base_url: https://picture-it.ngrok.io
cdn_url: https://cdn.picture-it.ngrok.io
bg_assets_url: https://picture-it.ngrok.io/bg-assets

remove_bg:

aws:
  access_key_id:
  secret_access_key:
  bucket:

shopify:
  api_key:
  api_secret:

sendgrid:
  username:
  password:

cloudflare:
  zone_id:
  email:
  token:
