<p>hey team,</p>

<p>thanks for trying Picture It on your store. do you mind sharing why you cancelled?</p>

<p>even a single statement will help us improve the product.</p>

<p>to make it worth your time, reply with a candid comment and a URL to any charity, and we'll make a $10 donation in your name.</p>

<p>
  cheers,<br>
  Ryan from the Picture It Team
</p>
