<p><%= @shop.first_name || 'hey there' %>,</p>

<p><strong>we don't like fancy marketing copy</strong>. when stores consider Picture It, <strong>honest reviews</strong> are the best thing we can give them.</p>

<p>if you'd like to help another art business, <%= link_to 'leave an honest review', @review_link %>. we'll be forever grateful.</p>

<p>cheers,<br>Ryan and Hideko<br><%= link_to 'Picture It', 'https://apps.shopify.com/picture-it' %></p><br>
