<p>
  Hey Team,
</p>

<p>
  Welcome to Picture It!
</p>

<p>
  Thanks for downloading our Shopify app! We're excited to start seeing how live previews will boost your sales and conversions.
</p>

<p>
  Please feel free to reach out to us at <%= mail_to "help@pictureit.co" %> if you need help getting things set up or if you have any questions or concerns!
</p>

<p>
  Wishing you all the best,
  <br>
  The Picture It Team
</p>
